betty-overview md-card-content > * {
  padding-bottom: 8px;
}

betty-overview .money,
betty-history .positive {
  color: #4caf50;
}

betty-overview .money.negative,
betty-history .negative {
  color: #f44336;
}

betty-overview .date {
  padding-left: 8px;
}

betty-history md-list-item {
  border-bottom: solid thin #e0e0e0;
}

.primary-text {
  color: #212121;
}

.secondary-text {
  color: #757575;
}
