betty-overview md-card-content > * {
  padding-bottom: 8px;
}

betty-overview .money,
betty-history .positive {
  color: green;
}

betty-overview .money.negative,
betty-history .negative {
  color: red;
}

betty-overview .date {
  padding-left: 8px;
}
