<div layout="column">
  <h3>BETTy Login</h3>
  <form name="loginForm" ng-submit="loginForm.$valid && loginCtrl.login()" layout="column" novalidate>

    <md-input-container>
      <label>Last Name</label>
      <input type="text" name="username" ng-model="loginCtrl.username" required />
      <div ng-messages="loginForm.username.$error">
        <div ng-message="required">Last name is required</div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>Student ID</label>
      <input type="password" name="password" ng-model="loginCtrl.password" required />
      <div ng-messages="loginForm.password.$error">
        <div ng-message="required">Student ID is required</div>
      </div>
    </md-input-container>

    <div layout="row" layout-align="end none">
      <md-button class="md-primary" type="submit" ng-disabled="loginForm.$invalid">Login</md-button>
    </div>

  </form>
</div>
