<h3>BETTy Login</h3>
<form name="loginForm" ng-submit="loginForm.$valid && loginCtrl.login()"  novalidate>
  <div class="form-group" ng-class="{ 'has-error': loginForm.username.$invalid && (!loginForm.username.$pristine || loginForm.$submitted) }">
    <input class="form-control" name="username" type="text" placeholder="Last Name" ng-model="loginCtrl.username" required />
  </div>
  <div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid && (!loginForm.password.$pristine || loginForm.$submitted) }">
    <input class="form-control" name="password" type="password" placeholder="Student ID" ng-model="loginCtrl.password" required />
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
